@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Coiny');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
body {
    background-image: url(./wallpaper.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-wrapper{
    position: relative;
    width: 400px;
    height:180px;
}
.logo-img{
    width:100%;
    height:100%;
}
.logo-wrapper .text{
    color: #fff;
    font-size: 1.9rem;
    font-family: 'Coiny', sans-serif;
    position: absolute;
    top: 33%;
    left: 34%;
    transform: translate(-50%, -50%) rotate(-30deg);
    -webkit-text-stroke: 2px 	rgba(83, 114, 240, 0.2);
    text-shadow: 2px 2px rgba(19, 24, 44, 0.2);
}
.logo-wrapper .text i{
    display: inline-block;
    position: relative;
    font-size: 16px;
}
.logo-wrapper .text i:first-child{
    margin: 0px 5px 0px 0;
    top:-7px;
}
.logo-wrapper .text i:last-child{
    margin: 0px 5px 0px 0;
    top:7px;
}
.header-wrapper {
    width: 100%;
    display: flex ;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
}

.outer-wrapper{
    width: 100%;
    display: flex ;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    min-height: 60vh;
}
.title {
    width: 100%;
    display: none;
}
.wrapper{
    display: none;
    width: 605px;
    background: #fff;
    border-radius: 15px;
    border-color: #3c8dbd;
    padding: 30px 30px 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.wrapper header{
    font-size: 35px;
    font-weight: bold;
    color: #3c8dbd;
    text-align: center;

}
.wrapper .content{
    margin: 35px 0;

}
.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area i{
    font-size: 15px;
}
.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}
.quote-area .quote{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    color: rgb(51, 51, 51);
    word-break: break-word;
    
}
.content .author{
    display: flex;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    font-weight: 400;
    color: rgb(51, 51, 51);
    margin-top: 20px;
    justify-content: flex-end;
}
.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}
.wrapper .buttons{
    border-top: 1px solid #ccc;
    padding: 20px 0 0 0;
}
.buttons .features{
    display:  flex;
    align-items: center;
    justify-content: space-between;
}
.features ul{
    display: flex;
}
.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color:#3c8dbd;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #3c8dbd;
    transition: all 0.3s ease;
}
.features ul li:hover{
    color: #fff;
    background: #3c8dbd;      
}
.features button{
    border:   none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: #3c8dbd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button.loading{
    opacity: 0.7;
    pointer-events: none;
}
.cloud-text {
	font-family: 'Coiny', cursive;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(./text-cover.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: 10%;
	width: 95%;
	margin: 10px;
	font-size: 3rem;
    line-height: 3rem;
	animation: clouds-moving infinite 40s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	
    -webkit-text-stroke: 0.5px 	rgba(83, 114, 240, 0.2);
    text-shadow: 2px 2px rgba(77, 96, 172, 0.2);
   
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}
.attribute {
	position: relative;
	font-size: 2.5rem;
	text-align: center;
}

.spinner-wrapper{
    width:200px;
    height:60px;
    position: absolute;
    text-align: center;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #3c8dbd;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}
.spinner-load {
    color: #3c8dbd;
    font-size: 25px;
    position: relative;
    top: -50px;
    letter-spacing: 2px;
}
@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgb(42 90 132);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}

@media only screen and (max-width: 903px) {
    .logo-wrapper{
        position: relative;
        width: 400px;
        height:180px;
    }
    .logo-wrapper .text{ 
        font-size: 28px;
        top: 33%;
        left: 34%;
    }
}

@media only screen and (max-width: 767px) {
    .wrapper{
        width: 90%;
        margin-bottom: 100px;
    }
    .quote-area .quote{
        font-size: 20px;  
    }
    .content .author{
        font-size: 15px;
    }
    .features button{
        font-size: 12px;
        padding: 13px 8px;
    }
    .title{
        top:20px;
    }
    .cloud-text {
        text-align: center;
        margin: 2px;
        font-size: 2.5rem; 
        width: 90%;
        line-height: 50px;
        animation: clouds-moving infinite 80s;
    }
    .attribute {
        font-size: 2rem;
    }
    .header-wrapper {
        flex-direction: column; 
        align-items: start;

    }
    .logo-wrapper{
        width: 250px;
        height:140px;
    }
    .logo-wrapper .text{
        font-size: 25px;
        top: 33%;
        left: 34%;
    }
}

